* {
    border: 0;
    margin: 0;
}

header, main, footer {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 1rem;
}

h1 {
    text-align: center;
}

img {
    display: block;
    width: 100%;
    padding-bottom: 10px;
    animation: fade 15s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}